body {
    background: rgb(155, 191, 201);
  }
  

  .card {
    background-color:white;
    padding:40px;

  }

  #pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 30px;
    padding-inline-start: 0;
  }